@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand+SC&display=swap');

html {
    font-size: 16px;
}

body {
    background-color: #f5efe9;
    font-family: 'Patrick Hand SC', monospace;
    text-align: center;
}

h1 {
    font-size: 5rem;
}

h2{
    font-size: 4rem;
}

h3{
    font-size: 2rem;
}

p{
    font-size: 1.3rem;
    line-height: 1.5;
}

.gameplay{ 
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.controls{
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
}

.controls button{
    height: 80px;
    width: 150px;
    margin: 40px 0;
}

button{
    border-radius: 15px;
    font-family: 'Patrick Hand SC', monospace;
    font-size: 1.5rem;
    color:#f5efe9;
    cursor: pointer;
}

button:focus{
    outline:none;
}

#how-to, #close, #next, #close-colors{
    background-color: #E07A5F; 
    border: 2px solid #E07A5F;
}

#how-to:hover, #close:hover{
    background-color: #f5efe9; 
    color:#E07A5F;
} 

#start{
    background-color: #84A59D; 
    border: 2px solid #84A59D;
}

#start:hover{
    background-color: #f5efe9; 
    color:#84A59D;
} 

#inc-board{
    background-color: #3D405B;
    border: 2px solid #3D405B;
}

#inc-board:hover{
    background-color: #f5efe9; 
    color:#3D405B;
}

#dec-board{
    background-color: #F28482;
    border: 2px solid #F28482;
}

#dec-board:hover{
    background-color: #f5efe9; 
    color:#F28482;
}

.game-container {
    width: 900px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.slot{
    display: flex;
    width: 150px;
    height:150px;
    justify-content: center;
    align-items: center;
    background-color: #F8CF8B;
}

.hole{
    width:85%;
    height:85%;
    border-radius: 50%;
    background-color: white;
}

.available:hover{
    background-color: rgb(201, 235, 134);
} 

.team-1 {
    color: #C91818;
}

.team-2 {
    color: #1874C9;
}

.modal {
	background-color: rgba(0,0,0,0.5);
	position: fixed;
	top: 0;
	left: 0; 
	height: 100%;
	width: 100%;
	z-index: 1;
	overflow: scroll;
    display: none;
}

.modal-textbox {
	background-color: white;
	height: 350px;
	width: 550px;
    border-radius: 2px;
    margin: 150px auto;
	/*This will set the margins for the top and the bottom to 150px (or larger). The right and left will automatically set themselves (and keep the box centered horizontally).*/
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
    /*This will give the box some depth.*/
    padding: 4%;
}

.modal-textbox h3{
    margin: -10px auto 30px auto ;
}

#close, #next, #close-colors {
    height: 40px;
    width:75px;
    margin: 0 auto;
}

#span-start{
    color: #84A59D;
}

#span-inc{
    color: #3D405B;
}

#span-dec{
    color: #F28482;
}

.color-button:hover {
    border: 3px solid yellow;
}

.unclickable {
    border: 3px solid palegreen;
    cursor: default;
}

.color-buttons button {
    margin: 10px;
    padding: 10px;
    border: none;
}

.color-buttons {
    width: 350px;
    margin: 50px auto;
}

.red {
    background-color: #C91818;
    color: white;
}

.blue {
    background-color: #1874C9;
    color: white;
}

.pink{
    background-color: #F28482;
    color: white;
} 

.teal{
    background-color: #84A59D;
    color: white;
} 

.midnight{
    background-color: #3D405B;
    color: white;
} 

.orange{
    background-color: #E07A5F;
    color: white;
} 

.purple{
    background-color: #7678ED;
    color: white;
} 