body {
    background-color: #F5E3E0;
}

.game-container {
    width: 900px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    /* border: 5px solid teal; */
}

/* .row {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
} */

.slot{
    display: flex;
    width: 150px;
    height:150px;
    justify-content: center;
    align-items: center;
    background-color: rgb(240, 240, 97);
    /* border: 1px solid black; */
}

.hole{
    width:85%;
    height:85%;
    border-radius: 50%;
    background-color: white;
}